<nav class="navbar bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">TV Show Search</a>
    <form class="d-flex" action="/search" method="post" id="searchForm">
      <input
        class="form-control me-2"
        type="text"
        name="q"
        id="movieSearch"
        placeholder="Enter your title"
      />
      <button class="btn btn-outline-info">Search</button>
    </form>
  </div>
</nav>
